{% include "header.html" %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/img/example2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Easy way to translate any text to morse code</h1>
        <p class="lead">With this app you can easly translate any text from latin dictionary using letters and numbers to morse code text.</p>
        <p class="lead">Register users will be able to send translated text by email.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="{{url_for('translator')}}">Go to translator!</a>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}